/* Define as configurações de margem, preenchimento e caixa para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #003366;
}


body {
  font-family: "montserrat";
  overflow: hidden;
  background-image: url(../assets/imgs/oceano2.jpg);
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body img {
  width: 100%;

}

input::placeholder {
  font-family: "poppins";
}

/* Navbar */
/* Define a largura da classe container como 100% da largura da tela */
.container {
  width: 100vw;
  display: flex;
}




.corpo.second {
  background-color: #003366;
}



#trocaCor {
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
}

#trocaCor:hover {
  background-color: #003366;
  transition: 1s ease-in;
}


.area_icone_tema {
  margin-left: 90vw;
  border: none;
  display: flex;
  align-items: center;



}

.icone_tema img {
  width: 1.5vw;
  padding-top: 3px;
  background-color: #f9f9f9;



}

/* Define a largura da classe navbar como 100% */
.navbar {
  width: 100%;

}

/* Define a largura e margem direita do ícone de navegação */
.navIcon {
  width: 1.8vw;
  margin-right: 0.7vw;
 stroke: #003366;
 
}

/* Define a exibição dos itens do menu como flex */
.navbar .menu-items {
  display: flex;

}

/* Remove a estilização de lista dos elementos li dentro da classe nav-container */
.navbar .nav-container li {
  list-style: none;
  display: flex;
  align-items: center;

}

/* Estiliza os links dentro da classe nav-container */
.navbar .nav-container a {
  text-decoration: none;
  color: #003366;
  font-size: 16px;


}

/* Estiliza os links ao passar o mouse sobre eles */
.navbar .nav-container a:hover {
  font-weight: bolder;
  text-decoration: underline;

}


/* Define a exibição e a posição da classe nav-container */
.nav-container {
  display: block;
  height: 30px;
  background-color: #f9f9f9;
}

/* Define a posição e aparência do ícone de menu (hamburguer) */




/* Define a exibição e aparência dos itens do menu */
.navbar .menu-items {
  padding-top: 3vh;
  background-color: #f9f9f9;
  transform: translateY(-5%);
  height: 105vh;
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;

  position: initial;
  /* transition: transform 0.5s ease-in-out; */

  gap: 2vh;
}

/* Define a aparência dos itens do menu individualmente */
.navbar .menu-items li {
  margin-bottom: 2vh;
  font-weight: 500;
  padding-left: 2vw;
}

/* logo */
.logo img {
  width: 96px;
  height: 108px;

}

/* Foto usuario */
.foto-usuario img {
  display: flex;
  width: 6vw;
  margin-top: 1vh;
  margin-left: 4.5vw;
  justify-content: center;
}

#grid_corpo {
  display: flex;
  padding-top: 4vw;
  padding-left: 22.5vw;
  flex-direction: column;

}

#corpo_kpi {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

#kpi1,
#kpi2,
#kpi3,
#kpi4 {
  background-color: #f9f9f9;
  width: 15vw;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

#titulo_kpi {
  font-size: 20px;
  font-weight: 300;
}

.info_kpi {
  font-size: 36px;
  font-weight: 500;
}

.corpo_perguntas {
  display: flex;

}

#perguntas {
  display: flex;
  width: 33vw;
  height: 30vh;
  background-color: #f9f9f9;
  text-align: center;
  padding: 5px;
  align-items: center;
  justify-content: center;
  

}
#div_perguntas{
  font-weight: 700;
}

.foto_perguntas {
  margin-top: 2vw;
  margin-left: 3vw;
  width: 33vw;
  height: 65vh;
  background-color: #f9f9f9;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

#conjunto {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  width: 33vw;
  height: 65vh;

}

#respostas {
  display: none;
  justify-content: center;
  gap: 8.6vw;

  margin-top: 2vw;
  width: 33vw;
  height: 31vh;

  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}


.botoes_respostas {
  width: 217%;
  height: 15.5vh;
  padding: 12px;
  font-size: 40px;
  color: #003366;
  border: 2px solid #003366;
  border-bottom: none;
  cursor: pointer;
  transform: translateX(-27%);

  background-image: url('https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871');
  background-repeat: repeat-x;
  background-position: 0 -750%;
  background-color: #f9f9f9;
  transition: 1s ease;

}

.botoes_respostas:hover {
  background-position: center;
  color: #f9f9f9;
  z-index: 1; /* Aumenta o nível de sobreposição no hover */
 
  font-size: 50px;
  
}

li{
  font-weight: 400;
}


button:nth-child(1) {
  filter: hue-rotate(0deg);
}

#comecarQuiz {
  border: none;
  padding: 10px;
  background-color: #003366;
  color: #f9f9f9;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 20px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);

}

#comecarQuiz:hover {
  background-color: #004f9d;
}

#regras {
  border: none;
  padding: 10px;
  background-color: #003366;
  color: #f9f9f9;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 20px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);

}

#regras:hover {
  background-color: #004f9d;
}

.modal-content {
  display: flex;
  background-color: #F3F3F3;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #F3F3F3;
  width: 50vw;
  height: 60vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.modal_encerrado {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}



.modal_regras {
  display: none;
  background-color: #F3F3F3;

  margin: 5% auto 15% auto;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #F3F3F3;
  width: 50vw;
  height: 65vh;
  padding-left: 2.5vw;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1vw;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  color: #F3F3F3;
  top: 0;



}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }

}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.botoes_encerrado {
  border: none;
  padding: 10px;
  background-color: #003366;
  color: #f9f9f9;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  width: 10vw;
  
}
.botoes_encerrado:hover {
  background-color: #004f9d;
}
.corpo_botoes_regras{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  color: #F3F3F3;
}
.sair{
  margin-top: 10vh;
  margin-left: 7vw;
}