html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    
}
.div_validacao{
    color: red;
    font-size: 12px;
}

body {
    font-family: "montserrat";
    font-size: 20px;
    background: linear-gradient(#85c7f4, #5FA2CE, #003366, #00264d);
    
}

input::placeholder {
    font-family: "montserrat";
}

.logo img {
    width: 18vw;
    height: 20vh;
    margin-left: 1vw;
    
}
.logo {
    display: flex; /* Adicione esta linha */
    align-items: center; /* Centraliza verticalmente a imagem dentro do logo */
}

.navbar {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    background: #F5F4F9;
    padding-right: 5vw;
}



a {
    color: #0b0b0b;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
}

#entrar {
    border: 0px;
    border-radius: 15px;
    background-color: #418FDE;
    color: #003366;
    width: 7vw;
    height: 45px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    font-weight: lighter;
}

.corpo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.corpo_titulo {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;

}

#titulo_inicio {

    width: 45vw;
    height: 68vh;
    padding-top: 40px;

}

#titulo_texto {
    color: black;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 1vw;
}

#subtitulo {
    font-size: 16px;
    margin-right: 2vw;
    color: #003366;
}

#foto_baleia {
    background-color: #F5F4F9;
    width: 40vw;
    height: 68vh;
}

#foto_baleia img {
    width: 40vw;
    height: 80vh;

}

#botao_cadastro {
    width: 10vw;
    height: 5vh;
    border: none;
    font-family: montserrat;
    color: #003366;
    font-weight: 600;
    margin-top: 40px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;

}

.corpo_tubarao {
    margin-top: 20vh;
    background-color: #F5F4F9;
    width: 80vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#tubarao img {
    padding-top: 5vh;
    width: 65vw;
    height: 80vh;
}

#texto_tubarao {
    width: 81.5%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #003366;
    font-size: 20px;
    padding-top: 8vh;
}

#titulo_tubarao {
    font-weight: 600;
}

#saibaMais {
    background-color: #418FDE;
    color: #003366;
    font-family: "montserrat";
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 8vh;
    width: 10vw;
    height: 8vh;
    font-size: 20px;
}
#saibaMais:hover{

    background-color: #acd8f5;
}

.ultimasPostagens {
    width: 80%;
    height: 200vh;
    background-color: #F5F4F9;
    margin-top: 20vh;
    display: flex;
    align-items: flex-start;
    margin-right: 20%;
    flex-direction: column;
    gap: 5vh;
}

#titulo_postagens {
    font-size: 30px;
    font-family: "montserrat";
    font-style: italic;
    margin: 15vh;
    margin-bottom: 0vh;
    color: #003366;
    font-weight: bold;
}

#ultimas {
    font-weight: 350;
}

#primeiraPostagem img {
    width: 50vh;
    margin-left: 15vh;
}

#primeiraPostagem {
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 22px;
    font-weight: 700;
    color: #003366;
    gap: 1.5vw;
}

#texto_primeiraPostagem {
    font-size: 18px;
    font-weight: 350;
    width: 35vw;
}

#segundaPostagem img {
    width: 50vh;
    margin-left: 15vh;

}

#segundaPostagem {
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 22px;
    font-weight: 700;
    color: #003366;
    gap: 1.5vw;
}

#texto_segundaPostagem {
    font-size: 18px;
    font-weight: 350;
    width: 35vw;
}

#terceiraPostagem img {
    width: 50vh;
    margin-left: 15vh;
}

#terceiraPostagem {
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 22px;
    font-weight: 700;
    color: #003366;
    gap: 1.5vw;
}

#texto_terceiraPostagem {
    font-size: 18px;
    font-weight: 350;
    width: 35vw;
}

.caixaTexto {
    padding: 5vh;
    width: 82%;
    height: 45vh;
    margin-top: 10vh;
    margin-left: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    font-size: 18px;
    gap: 2vw;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#imagens_caixaTexto {

    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "montserrat";

}

#imagens_caixaTexto img {
    width: 5vh;
}

#corpo_caixaTexto {
    width: 92.5%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #003366;
}

#texto1 {
    width: 50vw;
    color: #003366;
}

#texto2 {
    margin-left: 2vw;
    width: 50vw;
    color: #003366;
}

#nomes {
    display: flex;
    gap: 24vw;
    color: #003366;
}

.formulario {
    font-family: "montserrat";
    display: flex;
    flex-direction: column;
    background-color: #f5f4f9;
    width: 30vw;
    height: 85vh;
    padding: 40px;
    margin-right: 10vw;
    margin-bottom: 15vh;
    margin-top: 20vh;
}

.form_grupo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

#form_telefone {
    width: 10vw;
    height: auto;

}

#form_nome {
    width: 13vw;
    margin-right: 1vw;
}

#form_email {
    width: 24.9vw;
}

.inputs_form {
    padding: 10px;
    width: 100%;
}

#form_mensagem {
    width: 24.9vw;
    height: 20vh;
    padding-top: 10px;
    resize: none;
    font-family: "montserrat";
}

.campos_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulos_form {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

#form_mensagem input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form_button {
    display: flex;
    background-color: #418FDE;
    color: #003366;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 7vh;
    margin-left: 35%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Mapa */
#mapa {
    width: 30vw;
    height: 85vh;
    margin-top: 20vh;
    margin-left: 6vw;
    margin-right: 1vw;


}


#form_mapa {
    justify-content: center;
    text-align: center;
    display: flex;
    border: 0;
    

}

/* Contêiner para o formulário e o mapa */
.form_mapa_container {
    display: flex;
    
}
/* footer */

footer {
    display: flex;
    text-align: center;
    font-family: "montserrat";
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: #F5F4F9;
    color: white;
    padding: 10vh;
  }
  
  .text {
  
    color: #003366;
  }
  
  .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 60%;
    width: 100%;
    color: white;
    gap: 10vw;
  }
  
  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
  
  }
  
 

  /* fim do footer */



  .modal-content {
    display: flex;
    background-color: #F3F3F3;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #F3F3F3;
    width: 70vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }
  .imgcontainer img{
    width: 20vw;
  
    
  }
.modal_inputs{
    display: flex;
    flex-direction: column;
    color: #003366;
    text-align: start;
    font-size: 20px;    
    
}
#modal_email{
    padding: 15px;
    width: 30vw;
    margin-bottom: 3vh;
    border-radius: 3px;
    border: 1px solid #ccc;
}
#modal_senha{
    padding: 15px;
    width: 30vw;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.direita{
    width: 30vw;
    height: 70%;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.botao_e_esqueceu{
    display: flex;
    flex-direction: row;
    align-items: center;
   

}
.lembrar{
    font-size: 16px;
    margin-top: 2px;
    margin-left: 9.8vw;
    font-family: "montserrat";
    font-weight: 500;
    color: #003366;
    display: flex;
    align-items: center;
    gap: 5px;
   
}
#botao_lembrar{
    width: 1vw;
    height: 2vh;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #418FDE;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    

}
.modal_cadastro{
    font-size: 14px;
    display: flex;
    margin-left: 8vw;
    align-items: center;
}
#modal_botao_cadastro{
    padding: 10px;
    width: 5.5vw;
    margin-left: 0.3vw;
    font-size: 14px;
    color: #003366;
    background-color: #418FDE;
    border: 1px solid #003366;
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
#modal_botao_cadastro:hover{
    background-color: #85c7f4;
}

#botao_lembrar:checked{
    background-color: #003366;
}
#botao_lembrar:hover{
    background-color: #0060c0;
}
.modal_titulo{
    color: #003366;
    font-size: 50px;
    font-family: "montserrat";
    margin-right: 25vw;
    margin-bottom: 5vh;
    font-weight: 500;   
}
#modal_entrar{
    padding: 10px;
    width: 8vw;
    font-size: 20px;
    color: #003366;
    background-color: #418FDE;
    border: 1px solid #003366;
    border-radius: 50px;
    margin-top: 3vh;
    cursor: pointer;
}
#modal_entrar:hover{
    background-color: #85c7f4;
}

.esqueceu{
    font-size: 16px;
    margin-left: 10.5vw;
    margin-top: 5vh;
}
.esqueceu:hover{
    font-weight: bold;
    text-decoration: underline;
}
.linha-vertical {
    height: 500px;/*Altura da linha*/
    border-left: 3px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
   color: #003366;
  }
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
  
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
.modal_formulario{
    margin-right: 8vw;
    display: none;
}
.formulario_cadastro{
    display: flex;
    flex-direction: column;
   
 
}
.campos_form_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #003366;
    font-size: 20px;
}
.inputs_form_cadastro {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
   
    
}
#form_senha{
    width: 13vw;
}
#form_cadastro_nome {
    width: 13vw;
    margin-right: 1vw;
}

#form_cadastro_email {
    width: 26vw;
}
.botoes_cadastro{
    display: flex;
}
#botao_voltar{
    display: flex;
    background-color: #418FDE;
    color: #003366;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 7vh;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button{
    width: 150px;
    padding: 12px;
    border-radius: 20px;
    color: white;
    border: 3px solid #657df6;
    cursor: pointer;
    background: transparent;
    background-image: url('https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871');
    background-repeat: repeat-x;
    background-position: 0 -100%;
    background-color: #418FDE;
    transition: 3s ease;
  }
  
  button:hover{
    background-position: center;
  }
  
  button:nth-child(1){
    filter: hue-rotate(0deg);
  }
  .botao-cancelar{
    background:none;
    color: #003366;
    border: none;
    cursor: pointer;
    margin-left: 65vw;
    font-size: 40px;

    transform: translateY(-350%);
    position: absolute;
}
#botao_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3vw;
    height: 5vh;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #418FDE;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07);
  }
  
  #botao_topo:hover {
    background-color: rgb(147, 227, 252);
  }
  .vermais{
    font-size: 14px;
    margin-left: 28vw;
    font-weight: 400;
   
  }
  .vermais:hover{
    font-weight: bold;
    text-decoration: underline;
  }
  