* {
    margin: 0px;
    padding: 0px;
}

body {
     width: 100vw;
    /* height: 100vh;  */
    background-color: #719F7D;
    
}

.box {
    display: flex;
    height: 85vh;
    width: 100%;
    flex-direction: row;
}

.corpo {
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #719F7D;
}

.main {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  background-color: #719F7D;
}

.grafico {
  height: 60vh;
  width: 100%;

}

.baralho {
  display: flex;
  background-color: #FF8B38;
  height: 40vh;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.card {
  display: flex;
  border-radius: 30px;
  height: 30vh;
  width: 20%;
  margin: 20px;
  padding: 15px;
  background-color: #2F643E;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 57%;
    width: 100%;
    list-style: none;
    background-color: #FFFFFF;
    transition: display 0.5s;
}

.perfil {
    height: 70%;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: #2F643E;
}

.menuPerfil {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 30%;
}

.burger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: 300ms;
  border-radius: 10px;
}
.burger input[type="checkbox"] {
  appearance: none;
  transition: 300ms;
}

.burger::before,
.burger::after {
  content: "";
  transition: 300ms;
  transform-origin: center center;
}

.burger::before {
  transform: translateY(8px);
}
.burger::after {
  transform: translateY(-8px);
}
.burger .line,
.burger::before,
.burger::after {
  width: 25px;
  height: 2.1px;
  display: block;
  background-color: #FF8B38;
  border-radius: 5px;
  position: absolute;
}

.burger .line:checked {
  width: 0;
  transition-delay: 100ms;
}
.burger:has(.line:checked)::before {
  animation: animation1 400ms ease-out 0s 1 both;
}
.burger:has(.line:checked)::after {
  animation: animation2 400ms ease-out 0s 1 both;
}

.burger:hover {
  background: #aeaeae;
  border-radius: 50%;
}

.burger:hover .line,
.burger:hover::before,
.burger:hover::after {
  background: #e8e8e8;
}

.burger:active {
  scale: 0.95;
}
@keyframes animation1 {
  0% {
    transform: translateY(8px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes animation2 {
  0% {
    transform: translateY(-8px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}



.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color:white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

.button {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 30%;
}



.imagem_perfil {
    border-radius: 180px;
    height: 75px;
    width: 75px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.config {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
    height: 80%;
}

.texto{
  color: #f5f4f9;
}

.lista{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.4vh;
    height: 80%;
}

.bottom {
    margin: 10%;
}

.nav {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 13%;
    background-color: white;
}

.logo {
    display: flex;
    height: min(23%, 100%)
}

.folder {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: #f5f4f9;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    list-style: none;
    width: 80%;
    height: 20vh;
}

.navConjunto {
    display:flex;
    align-items: center;
}

.navIcon {
    width: 35px;
    height: 35px;
}

.navText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #ffb886;
    cursor: pointer;
}

.nav_abrirMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 20px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages {
    list-style: none;
    display: flex;
}

.footer {
  display: flex;
  font-family: poppins;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  background-color: #f5f4f9;
  color: #0B6013;
 
  bottom: 0;
  
}

.text {
  color: #0B6013;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  color: #0B6013;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  
}

.pages {
  list-style: none;
  display: flex;
  gap: 10px;
  
}
