* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

body {
    font-family: poppins;
    background-color: white;
}

a,
p {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 300;
}

.verde {
    color: #15CE28;
}

.laranja {
    color: #FC8939;
}

#entrar {

    border: 0px;
    border-radius: 15px;
    background-color: #FFA05D;
    color: white;
    width: 8vw;
    height: 45px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

#entrar:hover {
    background-color: rgb(252, 190, 147);
}


/* navbar styling */
.navbar {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background: #F5F4F9;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);

}

/* logo style */
.logo img {
    width: 155px;
    height: 75px;
    margin-right: 40vw;
}

.nav-menu {
    position: fixed;
    top: 0;
    width: 94%;
    left: 18px;
    background-color: #F8F5F0;
}

.nav-menu a {
    display: block;
    text-align: center;
}

.nav-menu a:hover {
    background-color: #FFA05D;
}

.hide {
    display: none;
}

/* Desktop view */
@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .nav-menu {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav-menu a {
        display: inline-block;
        padding: 15px 20px;
    }

    .nav-menu a:hover {
        background-color: #ffddc5;
        border-radius: 10px;
    }
}

/* corpo */
#div_corpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#logo_login {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


#div_inputs {
    margin-top: 30px;
    justify-content: center;
    display: block;
    align-items: center;
}

#input_email, #input_senha {

    padding: 10px;
    border: 1.5px solid #5CB767;
    border-radius: 7px;
    width: 375px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}



#botao_entrar {

    padding: 10px;
    background-color: #4A7A57;
    color: white;
    border-radius: 7px;
    border: none;
    width: 400px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
}


b:hover {
    text-decoration: underline;

}

#inicio:hover {
    background-color: #5CB767;
}

#servicos:hover {
    background-color: #5CB767;
}

#sobre:hover {
    background-color: #5CB767;
}

#botao_entrar:hover {
    background-color: #5CB767;
}
#cadastre-se{
    text-decoration: underline;
    color: #FFA05D;
    font-size: 20px;
    
}
#recuperacao{
    color: black;
    font-size: 20px;
}

/* footer */
footer {
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 17.5vh;
    background-color: #4A7A57;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
    color: #b7c9b5;
    display: flex;
}

#div_direitos {
    position: absolute;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }