* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #719F7D;
}

.box {
    display: flex;
    height: 85%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 50px;
    height: 60%;
    width: 11%;
    list-style: none;
    background-color: #f4f4f4;
}

.button {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 30%;
}

.imagem_perfil {
    border-radius: 180px;
    height: min(100%, 100%);
}

.text {
    margin: 10%;
    color: #0B6013;
}

.config {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

.logout {
    color: #FF0000;
    font-size: 20px;
    font-weight: bold;
}

.bottom {
    margin: 10%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 13%;
    background-color: white;
    transition: 2s;
}

.logo {
    display: flex;
    width: 241px;
    height: 130px;
}

.folder {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: #f5f4f9;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    list-style: none;
    width: 80%;
    height: 30%;
}

.navConjunto {
    display:flex;
    align-items: center;
}

.navIcon {
    width: 35px;
    height: 35px;
}

.navText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #ffb886;
    transition: 2s;
    cursor: pointer;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 25px;
    font-weight: bolder;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 100%;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages {
    list-style: none;
    display: flex;
    gap: 8px;
}