* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
}


/* COMEÇO NAVBAR*/
.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 11.3vh;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F4F9;
}

.logo {
    margin-left: 35px;
}
.logo img {
    width: 140px;
    height: 60px;
}

.cad {
    text-align: center;
    color: #000000;
    font-size: 20px;
}

.nav-menu {
    margin-right: 50px;
    background-color: #F8F5F0;
    display: block;
    position: static;
    width: auto;
    background: none;
}

.nav-menu a {
    text-align: center;
    color: #000000;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.nav-menu a:hover {
    background-color: #ffddc5;
    border-radius: 10px;
}
/* FIM NAVBAR*/


/*COMEÇO BODY*/
main {
    background-image: url(../assets/fundo-teste.png);
    background-repeat: no-repeat;
    background-size: 105vw;
    height: 105vh;
}

.corpo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: min-content;
    margin-top: 8vh;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
    font-family: poppins;
}

/* .form_grupo {
    position: relative;
} */

.inputs {
    display: flex;
    padding: 10px;
    border: none;
    font-family: poppins;
    border-radius: 7px;
    width: 18vw;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#botao-cadastrar {
    width: 19.3vw;
    background-color: #FFA05D;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

#div_requisitos{
    display: none;
    background-color: #F5F4F9;
    width: 20vw;
    height:min-content;
    padding: 20px;
    border-radius: 10px 15px 15px 10px;
    margin-top: 8vh;
}

.resultados{
    color: red;
}

.loading-div {
    width: 50px;
    display: none;
    margin-left: 40%;
}
  
.loading-div img {
    height: 40px;
    width: 40px;
}
/*FIM BODY*/


/*COMEÇO FOOTER*/
.footer {
    display: flex;
    font-family: poppins;
    justify-content: center;
    align-items: center;
    height: 16vh;
    width: 100%;
    background-color: #4A7A57;
    color: white;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    text-align: center;
    align-items: center;
    width: 100%;
    color: white;
}

.infos img {
    width: 1.8vw;
    margin-left: 1vw;   
}

/* .infos p {
    font-size: 35px; 
    margin-left: 1vw;
    margin-right: 1vw; 
    font-weight: lighter;
    color: white;
} */

.endereco u {
    font-size: 13px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 6vw; */
    /* margin-right: 6vw; */
}

.contato a {
    font-size: 16px; 
    color: white;
    text-decoration: none;
}

.contato p {
    font-size: 16px; 
    color: white;
}

.contato u {
    text-decoration: none;
    font-size: 12px; 
    color:#d0ad00;
}

.pages {
    list-style: none;
    display: flex;
    font-size: 14px;
    gap: 10px;
}
/*FIM FOOTER*/