@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;

}

.div_validacao {
    color: red;
    font-size: 12px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input::placeholder {
    font-family: "Poppins";
}

.logo img {
    width: 16vw;
    height: 16vh;
    margin-left: 1vw;

}

.logo {
    display: flex;
    /* Adicione esta linha */
    align-items: center;
    /* Centraliza verticalmente a imagem dentro do logo */
}

.navbar {
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
    background: #F5F4F9;
    padding-right: 5vw;
}



a {
    color: #5e5b5b;
    text-decoration: none;
}

.home:hover,
.servico:hover,
.sobreNos:hover,
.contato2:hover {
    color: #fa8a3b;
    border-bottom: 1px solid #fa8a3b;
    transition: 0.4s;
    transform: scale(1.1);
    font-weight: 400;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
    border: 1px solid transparent;
    transition: 0.4s;
    font-size: large;
}

#entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa8a3b;
    color: rgb(249, 249, 249);
    padding: 10px 10px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition: 0.7s;
    border: 2px solid #fa8a3b;
}


/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: calc(100vh);
    /* calcula a altura do carrossel */
    position: relative;
    overflow: hidden;
}

.mySlides {
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* cobrir todo o espaço disponível */
}

/* setas de ir e voltar */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 19px;
    color: #FFA05D;
    font-weight: bold;
    font-size: 56px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: 5px;
}

/* posição do botão > */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* hover das setas */
.prev:hover,
.next:hover {
    transform: scale(1.3);
}

/* animação dos slides (fade) */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* Texto Carrosel */





.imagem-inicio {
    position: relative;
    transform: translate(0%, 0%);
    width: 100vw;
    height: 100vh;
}

.azul {
    color: #38B3F9;
}


.textos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    /* ajuste a cor do texto conforme necessário */
}

#texto3 {
    position: absolute;
    font-size: 5.5vh;
    top: 20%;
    left: 35%;
    text-align: start;
    transform: translate(-50%, -50%);
    color: white;
}

#texto2 {
    position: absolute;
    font-size: 6vh;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: start;
    color: white;
    font-weight: 500;
}

#texto2_parte2 {
    position: absolute;
    font-size: 6vh;
    top: 80%;
    left: 60%;
    transform: translate(-0%, -50%);
    color: white;
    font-weight: 500;
    text-align: start;

}

#texto3_parte2 {
    position: absolute;
    font-size: 5.5vh;
    top: 80%;
    left: 60%;
    transform: translate(-0%, -50%);
    color: white;
    text-align: start;

}

#textojust {
    font-size: 4vh;
    width: 500px;
    height: 400px;
    margin-left: 23%;
    position: fixed;
}

.verde {
    color: #15CE28;
}

.laranja {
    color: #FC8939;
}

/* botão do simulador */



#simulador {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa8a3b;
    color: rgb(249, 249, 249);
    width: 50%;
    font-size: 4vh;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition: 0.7s;
    border: 2px solid #fa8a3b;
    top: 10%;
    left: 25%;
}

#simulador:hover {
    transform: scale(1.3);
}


/* Serviços */

.servicos {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f5f4f9;
}

#servico1 {
    padding: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: linear-gradient(#719f7d, #337f49);
    width: 30vw;
    height: 50vh;
    justify-content: center;
    margin-bottom: 15vh;
    border-radius: 20px;
    margin-left: 10vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10vh;

}



#servico2 {

    padding: 15px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: linear-gradient(#719f7d, #337f49);
    width: 30vw;
    height: 50vh;
    justify-content: center;
    margin-bottom: 15vh;
    border-radius: 20px;
    margin-right: 10vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10vh;
}

.servicoEspaco{
    margin-bottom: 2vh;
}

/* Sobre nós */

#div_sobre-nos {
    display: flex;
    width: 75%;
    height: 70vh;
    margin-top: 5vh;
    background-color: #f5f4f9;
    margin-left: 12.5vw;
    padding: 40px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07);
}

#galinha_sobre-nos {
    width: 35vw;
    height: 100%;
    margin-right: 2vw;
    border-radius: 20px 50px 50px 20px;

}



/* Contato */

.formulario {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    background-color: #f5f4f9;
    width: 30vw;
    height: 85vh;
    padding: 40px;
    margin-right: 10vw;
    margin-bottom: 15vh;
    margin-top: 20vh;
}

.form_grupo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

#form_telefone {
    width: 10vw;
    height: auto;

}

#form_nome {
    width: 13vw;
    margin-right: 1vw;
}

#form_email {
    width: 24.9vw;
}

.inputs_form {
    padding: 10px;
    width: 100%;
}

#form_mensagem {
    width: 24.9vw;
    height: 20vh;
    padding-top: 10px;
    resize: none;
    font-family: "Poppins";
}

.campos_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulos_form {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

#form_mensagem input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form_button {
    display: flex;
    background-color: #0B6013;
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 7vh;
    margin-left: 35%;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.form_button:hover {
    transform: scale(1.3);
}

/* Mapa */
#mapa {
    width: 30vw;
    height: 85vh;
    margin-top: 20vh;
    margin-left: 6vw;
    margin-right: 1vw;


}


#form_mapa {
    justify-content: center;
    text-align: center;
    display: flex;
    border: 0;


}

/* Contêiner para o formulário e o mapa */
.form_mapa_container {
    display: flex;

}

/* footer */

footer {
    display: flex;
    text-align: center;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: #4A7A57;
    color: white;
    padding: 10vh;
}

.text {

    color: white;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 60%;
    width: 100%;
    color: white;
    gap: 10vw;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;

}



/* fim do footer */



.modal-content {
    display: flex;
    background-color: #F3F3F3;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #F3F3F3;
    width: 70vw;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.imgcontainer img {
    width: 20vw;


}

.modal_inputs {
    display: flex;
    flex-direction: column;
    color: #4a7a50;
    text-align: start;
    font-size: 20px;

}

#modal_email {
    padding: 15px;
    width: 30vw;
    margin-bottom: 3vh;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#modal_senha {
    padding: 15px;
    width: 30vw;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.direita {
    width: 30vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao_e_esqueceu {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.lembrar {
    font-size: 16px;
    margin-top: 2px;
    margin-left: 9.8vw;
    font-family: "Poppins";
    font-weight: 500;
    color: #4a7a50;
    display: flex;
    align-items: center;
    gap: 5px;

}

#botao_lembrar {
    width: 1vw;
    height: 2vh;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid whi;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;


}

.modal_cadastro {
    font-size: 14px;
    display: flex;
    margin-left: 8vw;
    align-items: center;
}

#modal_botao_cadastro {
    padding: 10px;
    width: 5.5vw;
    margin-left: 0.3vw;
    font-size: 14px;
    color: #4a7a50;
    background-color: whi;
    border: 1px solid #4a7a50;
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#modal_botao_cadastro:hover {
    background-color: #85c7f4;
}

#botao_lembrar:checked {
    background-color: #4a7a50;
}

#botao_lembrar:hover {
    background-color: #0060c0;
}

.modal_titulo {
    color: #4a7a50;
    font-size: 50px;
    font-family: "Poppins";
    margin-right: 25vw;
    margin-bottom: 5vh;
    font-weight: 500;
}

#modal_entrar {
    padding: 10px;
    width: 8vw;
    font-size: 20px;
    color: #4a7a50;
    background-color: whi;
    border: 1px solid #4a7a50;
    border-radius: 50px;
    margin-top: 3vh;
    cursor: pointer;
}

#modal_entrar:hover {
    background-color: #85c7f4;
}

.esqueceu {
    font-size: 16px;
    margin-left: 10.5vw;
    margin-top: 5vh;
}

.esqueceu:hover {
    font-weight: bold;
    text-decoration: underline;
}

.linha-vertical {
    height: 50%;
    /*Altura da linha*/
    border-left: 3px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: #fa8a3b;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }

}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal_formulario {
    margin-right: 8vw;
    display: none;
}

.formulario_cadastro {
    display: flex;
    flex-direction: column;


}

.campos_form_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4a7a50;
    font-size: 20px;
}

.inputs_form_cadastro {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;


}

#form_senha {
    width: 13vw;
}

#form_cadastro_nome {
    width: 13vw;
    margin-right: 1vw;
}

#form_cadastro_email {
    width: 26vw;
}

.botoes_cadastro {
    display: flex;
}

#botao_voltar {
    display: flex;
    background-color: whi;
    color: #4a7a50;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-top: 7vh;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button {
    width: 150px;
    padding: 12px;
    border-radius: 20px;
    color: white;
    border: 3px solid #fa8a3b;
    cursor: pointer;
    background: transparent;
}

button:hover {
    background-position: center;
}

button:nth-child(1) {
    filter: hue-rotate(0deg);
}

.botao-cancelar {
    background: none;
    color: #4a7a50;
    border: none;
    cursor: pointer;
    margin-left: 65vw;
    font-size: 40px;

    transform: translateY(-350%);
    position: absolute;
}

#botao_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3vw;
    height: 5vh;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #fa8a3b;
    color: white;
    cursor: pointer;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07);
}

#botao_topo:hover {
    background-color: #f69e60;
}

.vermais {
    font-size: 14px;
    margin-left: 28vw;
    font-weight: 400;

}

.vermais:hover {
    font-weight: bold;
    text-decoration: underline;
}